body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
  background-color: rgb(84, 148, 231);
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

h1 {
  font-size: 48px;
  text-align: center;
}

h4 {
  padding-top: 0px;
  margin-top: 0px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}
.buttonNext {
  border: none;
  background-color: black;
  color: whitesmoke;
  width: 130px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.buttonPrevious {
  border: none;
  background-color: black;
  color: whitesmoke;
  width: 130px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.card {
  text-align: center;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}
.titleCard {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 320px;
  display: none;
}
.card img {
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: none; */
}

.buttonContainer2 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.buttonStart {
  border: 3px solid black;
  background-color: rgb(4, 255, 66);
  color: black;
  width: 130px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  margin-right: 50px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.buttonPause {
  border: 3px solid black;
  background-color: rgb(255, 0, 0);
  color: whitesmoke;
  width: 130px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.scoreCardContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 12px;
}

.scoreCard-1,
.scoreCard-2,
.scoreCard-3,
.scoreCard-4 {
  border: 5px solid black;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  color: black;
  font-weight: bold;
}

.scoreCard-1 {
  background-color: rgba(0, 0, 255, 0.658);
}
.scoreCard-2 {
  background-color: red;
}
.scoreCard-3 {
  background-color: green;
}
.scoreCard-4 {
  background-color: yellow;
}

.scoreCard-1 img,
.scoreCard-2 img,
.scoreCard-3 img,
.scoreCard-4 img {
  border: 3px solid white;
}

.buttonUndo {
  border: 1px solid white;
  background-color: black;
  color: whitesmoke;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

#qstNmbrLabel {
  margin-left: 10%;
}
#qstNmbr {
  margin-bottom: 12px;
  margin-top: 12px;
}

#playerForm {
  margin-left: 5%;
}
